.twoColumns {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-start;
    width: max-content;
    margin: 0 auto;
  }
  
  .twoColumns > div {
    display: flex;
    flex-direction: column;
    width: 50%;
  }
  
  .colOne {
    align-items: flex-end;
  }
  
  
  .buttons > button {
    margin: 1rem 0 0 1rem;
  }
  
  .buttons > button:hover {
    color: var(--dark-pink)
  }
  
  button.danger {
    margin: 0.5rem 0;
    color: rgba(200, 50, 50, 1);
  }
  
  